// Colors
$pomegranate: #ef3e36;
$selective-yellow: #f5b900;
$la-rioja: #a4ba0f;
$pizazz: #f98d00;
$bondi-blue: #0289bd;
$electric-violet: #9013fe;
$razzmatazz: #e27;

// Monochrome
$white: #fff;
$woodsmoke: #131515;
$black: #000;
