$ms-base: 18px;
$ms-ratio: $fourth;

$desktop-base: $ms-base;

$breakpoints: (
  desktop: 768px,
);

$typi: (
  base: (
    null: (ms(0), 1.5),
    desktop: (ms(0, $desktop-base), 1.5)
  ),
  h1: (
    null: (ms(4), 1.1),
    desktop: (ms(4, $desktop-base), 1.1)
  ),
  h2: (
    null: (ms(3), 1.1),
    desktop: (ms(3, $desktop-base), 1.1)
  ),
  h3: (
    null: (ms(2), 1.1),
    desktop: (ms(2, $desktop-base), 1.1)
  ),
  h4: (
    null: (ms(1), 1.1),
    desktop: (ms(1, $desktop-base), 1.1)
  ),
  p: (
    null: (ms(0), 1.5),
    desktop: (ms(0, $desktop-base), 1.5)
  ),
  small: (
    null: (ms(-1)),
    desktop: (ms(-1, $desktop-base))
  ),
);

$typi-breakpoint: breakpoint;

$light: 300;
$regular: 400;
$medium: 500;
$demi: 600;
$bold: 700;

$futura-pt: "futura-pt", sans-serif;
$futura-pt-bold: "futura-pt-bold", sans-serif;
