.action-cards {
  @include popup-border;

  background-color: #0096d0; // sass-lint:disable-line no-color-literals
  background-image: url($solid-circles);
  background-position: center;

  &__container {
    @include container;

    padding: vr(2) 0;
  }

  @include to(4) {
    .action-card {
      margin: 0 auto;
      max-width: vr(18);

      &:not(:last-child) {
        margin-bottom: vr(2);
      }
    }
  }

  @include from(5) {
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .action-card {
      flex: 0;
      flex-basis: span(5);
    }
  }
}
