.debug-grid {
  @include container;
  $color: change-color($pomegranate, $alpha: 0.2);

  background: repeating-linear-gradient(90deg, $color 0%, $color span(1), transparent span(1), transparent span(1) + gutter());
  content: " ";
  display: block;
  height: 100%;
  left: 50%;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  z-index: 9999;
}
