/* autoprefixer grid: on */ // sass-lint:disable-line no-css-comments

.program-schedule {
  @include popup-border;

  background-color: $pomegranate;
  background-image: url($arrowheads);
  background-position: center;
  background-size: vr(4);
  padding: vr(2) 0;

  &__container {
    @include container;
  }

  &__heading {
    color: $white;
    height: vr(1.5);
    margin-bottom: vr(1);
    text-align: center;
  }

  @include from(5) {
    &__heading {
      @include typi("h1");

      height: vr(3);
    }
  }
}
