.questions-section {
  @include popup-border;

  background-color: #ffc100; // sass-lint:disable-line no-color-literals
  overflow: hidden;
  padding: vr(2) vr(1);
  position: relative;
  text-align: center;

  &::before {
    background-image: url($crooked-lines);
    background-size: contain;
    content: "";
    height: 250%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(15deg);
    width: 200%;
  }

  &__wrapper {
    position: relative;
    z-index: 1;

    > p {
      @include typi("h4");

      margin: 0;
    }

    a {
      color: $woodsmoke;
      display: inline-block;
      font-family: $futura-pt-bold;
      text-decoration: none;
      transform-origin: left top;
      transition: transform $transition;

      #{$hover} {
        transform: translateY(-2px) rotate(-0.5deg);
      }
    }
  }

  @include from(4) {
    padding: vr(2.5) vr(1) vr(3.25);

    &__wrapper {
      > h3 {
        @include typi("h1");

        margin-bottom: vr(1.5);
      }

      > p {
        @include typi("h3");
      }
    }
  }
}
