.sponsors-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__sponsor {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: vr(4);
    justify-content: center;
    margin: vr(1);

    > img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }
}
