{% extends "base.html" %}

{% block content %}
{% include "includes/home/home-hero.html" %}
{% include "includes/home/about-pycon.html" %}
{% include "includes/home/why-python.html" %}
{% include "includes/home/action-cards.html" %}
{% include "includes/home/keynote-speakers.html" %}
{% include "includes/home/event-details.html" %}
{% include "includes/home/questions-section.html" %}
{% include "includes/home/coc-section.html" %}
{% include "includes/home/footer-block.html" %}
{% endblock content %}
