<div class="about-pythonph">
  <div class="about-pythonph__content">
    <div class="about-pythonph__content-wrapper">
      <div class="about-pythonph__content-main">
        <h3>Why Python?</h3>
        <p>
          We truly believe and support the impact and innovation that Python has brought in the whole
          technology industry as it continues to power systems, products, and services of companies
          such as Google, YouTube, NASA, Disney, Instagram, Disqus, Pinterest and Bitbucket.
        </p>
      </div>
    </div>
  </div>

  <div class="about-pythonph__image"></div>
</div>
