<div class="about-pycon">
  <div class="about-pycon__image"></div>
  <div class="about-pycon__content">
    <h3>What is PyCon APAC?</h3>
    <p>
      PyCon APAC is a volunteer-run, not-for-profit annual conference centered around the Python
      Programming language. The goal of the conference is to provide a venue where the Python
      programming language and surrounding technologies can be explored, discussed and exercised.
    </p>
    <p>
      PyCon APAC is the regional counterpart of PyCon in Asia-Pacific. It is hosted in one (1) of the
      following countries every year: Singapore, Malaysia, Indonesia, Philippines, Thailand, South
      Korea, Hong Kong, Vietnam, Japan, Taiwan, India and Bangladesh.
    </p>
    <p>
      This 2019, PyCon APAC will be hosted in the Philippines for the very first time.
    </p>
    <p>
      Learn something new, teach something new, find opportunities, build cool things, make friends,
      geek out! Come celebrate and enjoy this event with us!
    </p>
  </div>
</div>
