<div class="about-pythonph">
  <div class="about-pythonph__content">
    <div class="about-pythonph__content-wrapper">
      <div class="about-pythonph__content-main">
        <h3>What is PythonPH?</h3>
        <p>
          PyCon Philippines is a volunteer-run, not-for-profit conference
          centered around the Python Programming language.
        </p>

        <p>
          The goal of the conference is to provide a venue where the Python
          programming language and surrounding technologies can be explored,
          discussed and exercised.
        </p>
      </div>
    </div>
  </div>

  <div class="about-pythonph__image"></div>
</div>
