<div class="about-pycon">
  <div class="about-pycon__image"></div>
  <div class="about-pycon__content">
    <h3>What is PyCon APAC?</h3>
    <p>
      There is such a lot of talk going around about branding, but what exactly
      is your brand and how do you use it to help you reach more people and
      market your products or services? Your brand is the core of your
      marketing, the central theme around your products and services.
    </p>
    <p>
      Your brand is not your Logo or your Company Name, unless of course you
      are Microsoft or the Yellow Pages online directory.
    </p>
  </div>
</div>
