{% load svg %}

<div class="action-cards">
  <div class="action-cards__container">
    <div class="action-card">
      {% svg "icons/megaphone" %}

      <h3>Submit a talk proposal</h3>
      <p>
        Your words deserve to be heard. Submit your ideas to us and inspire
        designers and developers to be their best.
      </p>
      <a class="button button--green button--borderless" href="#">Submit proposal</a>
    </div>

    <div class="action-card">
      {% svg "icons/handshake" %}

      <h3>Sponsor PyCon APAC 2019</h3>
      <p>
        Sponsors are what make this conference possible. Support and help us
        make this PyCon the best one yet.
      </p>
      <a class="button button--green button--borderless" href="#">Apply as sponsor</a>
    </div>

    <div class="action-card">
      {% svg "icons/volunteer" %}

      <h3>Volunteer for PyCon 2019</h3>
      <p>
        Volunteers are the backbone of this conference. Even just a couple of
        hands can make all the difference.
      </p>
      <a class="button button--green button--borderless" href="#">Apply as volunteer</a>
    </div>
  </div>
</div>
