{% load svg %}

<div class="action-cards">
  <div class="action-cards__container">
    <div class="action-card">
      {% svg "icons/megaphone" %}

      <h3>Submit a talk proposal</h3>
      <p>
        Your words deserve to be heard! Submit your Talk & Workshop Proposals and inspire other
        Pythonistas to be their best!
      </p>
      <a class="button button--green button--borderless"
         target="_blank"
         href="https://goo.gl/forms/cWvviGhowlRADaRk1">
        Submit proposal
      </a>
    </div>

    <div class="action-card">
      {% svg "icons/handshake" %}

      <h3>Sponsor PyCon APAC 2019</h3>
      <p>
        Sponsors are what make this conference possible. Support and help us
        make this PyCon the best one yet.
      </p>
      <a class="button button--green button--borderless"
         target="_blank"
         href="https://goo.gl/forms/M8WGg5qWEVYRFdQy1">
        Apply as sponsor
      </a>
    </div>

    <div class="action-card">
      {% svg "icons/volunteer" %}

      <h3>Volunteer for PyCon 2019</h3>
      <p>
        The spirit of giving back and "paying it forward" is what makes PyCon distinctly inspiring!
        Even just a couple of hands can make all the difference.
      </p>
      <a class="button button--green button--borderless"
         target="_blank"
         href="https://goo.gl/forms/H0aszXRFbgqBGbx82">
        Apply as volunteer
      </a>
    </div>
  </div>
</div>
