<div class="event-details">
  <div class="event-details__image"></div>
  <div class="event-details__content">
    <h3>When is it?</h3>
    <h4>February 23&ndash;24, 2019</h4>
    <h4>9:00 am&ndash;6:30 pm</h4>
    <h4>* Doors open at 8:30 am</h4>

    <h3>Where is it?</h3>
    <h4>iAcademy Nexus (Yakal Campus)</h4>
    <h4>7434, Yakal, Makati, Philippines 1203</h4>
    <h4>* Doors open at 8:30 am</h4>

    <a class="button button--yellow button--borderless"
       target="_blank"
       href="https://goo.gl/maps/eSy6DqgDQEx">
      Show me directions
    </a>
  </div>
</div>
