{% load svg %}

<main class="home-hero">
  <div class="home-hero__logo-area">
    <div class="home-hero__logo-wrapper">
      <div class="home-hero__logo">
        {% svg "pycon-logo" %}
      </div>

      <div class="home-hero__meta">
        <span>February 23&ndash;24, 2019</span>
        <span>Makati, Philippines</span>
      </div>

      <a class="button"
         target="_blank"
         href="https://pycon-tickets.python.ph/">
        Buy tickets
      </a>
    </div>
  </div>

  <div class="home-hero__layers" id="scene_1" data-selector=".parallax-layer" data-relative-input data-hover-only>
    <div class="parallax-layer" data-depth="0.9">
      <div class="home-hero__cloud1">{% svg "hero-layers/cloud-1" %}</div>
    </div>
    <div class="parallax-layer" data-depth="1.0">
      <div class="home-hero__cloud2">{% svg "hero-layers/cloud-2" %}</div>
    </div>
  </div>
  <div class="home-hero__layers" id="scene_2" data-selector=".parallax-layer" data-limit-y="0" data-relative-input data-hover-only>
    <div class="parallax-layer" data-depth="0.6">
      <div class="home-hero__building-layer3">{% svg "hero-layers/buildings-3" %}</div>
    </div>
    <div class="parallax-layer" data-depth="0.8">
      <div class="home-hero__building-layer2">{% svg "hero-layers/buildings-2" %}</div>
    </div>
    <div class="parallax-layer" data-depth="1.0">
      <div class="home-hero__building-layer1">{% svg "hero-layers/buildings-1" %}</div>
    </div>
  </div>
</main>
