<section class="sponsors-section">
  <div class="sponsors-section__container">
    <h3 class="sponsors-section__heading">Sponsors</h3>

    {% for group in sponsor_types %}
      {% if group.sponsors %}
        <div class="sponsors-section__group">
          <h4 class="sponsors-section__subheading">{{ group }}</h4>

          <ul class="sponsors-list">
            {% for sponsor in group.sponsors %}
              <li class="sponsors-list__sponsor">
                <img src="{{ sponsor.image.url }}" data-tippy="test tooltip">
                <div class="tooltip-box">
                  <div class="tooltip-box__wrapper">
                    <div class="tooltip-box__name">{{ sponsor.name }}</div>

                    {% if sponsor.description %}
                      <div class="tooltip-box__description">
                        {{ sponsor.description|linebreaks }}
                      </div>
                    {% endif %}

                    {% if sponsor.link %}
                      <a href="{{ sponsor.link }}" class="tooltip-box__link" target="_blank" rel="noopener noreferrer">
                        Learn more
                      </a>
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
