<div id="about-us-section" class="row border-around-top-0 padding-all">
  <div class="col-sm-6">
    <h1>Who are we ?</h1>
    <p>
      PyCon Philippines is a volunteer-run, not-for-profit conference centered
      around the Python Programming Language.
    </p>
    </br>
    <p>
      The goal of the conference is to provide a venue where the Python
      Programming language and surrounding technologies can be explored,
      discussed and exercised.
    </p>
  </div>
  <div class="col-sm-6"></div>
</div>
