<div id="about-us-section" class="row border-around-top-0 padding-all">
  <div class="col-sm-6">
    <span class="title text">What is PyCon APAC ?</span>
    <br/>
    <br/>
    <p>
      The Python Conference (PyCon) is a volunteer-run, not-for-profit annual conference centered
      around the Python Programming language. The goal of the conference is to provide a venue where
      the Python programming language and surrounding technologies can be explored, discussed and
      exercised.
    </p>
    <p>
      It originated in the United States but is also held in many other countries that have active
      Python developer communities.
    </p>
    <p>
      PyCon APAC is the regional counterpart of PyCon in Asia-Pacific. It is hosted in one (1) of the
      following countries every year: Singapore, Malaysia, Indonesia, Philippines, Thailand, South
      Korea, Hong Kong, Vietnam, Japan, Taiwan, India and Bangladesh.
    </p>
    <p>
      This 2019, PyCon APAC will be hosted in the Philippines for the very first time.
    </p>
    <p>
      PyCon APAC 2019 is a community effort spearheaded by the PythonPH volunteers and supported by
      the PyCon APAC organizers.
    </p>
  </div>
  <div class="col-sm-6"></div>
</div>
