<div id="application-section"
     class="row outline border-around-top-0 padding-lrb-half-top">
  <div class="col-sm-4 margin-top-half">
    <div class="card text-center padding-all border-around">
      <div class="card-body">
        <i class="fas fa-bullhorn icon"></i>
        <br/></br>
        <span class="title text">Submit a talk proposal</span>
      </div>
      <div class="card-content">
        <p>
          Your words deserves to be heard. Submit your ideas to us and inspire
          designers and developers to their best.
        </p>
        <br/><br/>
      </div>
      <div class="card-footer">
        <a class="btn btn-success btn-block"
           href="https://goo.gl/forms/cWvviGhowlRADaRk1"
           target="_blank">
          Submit proposal
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 margin-top-half">
    <div class="card text-center padding-all border-around">
      <div class="card-body">
        <i class="far fa-handshake icon"></i>
        <br/></br>
        <span class="title text">Sponsor PyCon APAC 2019</span>
      </div>
      <div class="card-content">
        <p>
          Sponsor are what make this conference possible. Support and help us
          make this PyCon the best one yet.
        </p>
        <br/><br/>
      </div>
      <div class="card-footer">
        <a class="btn btn-success btn-block"
           href="https://goo.gl/forms/M8WGg5qWEVYRFdQy1"
           target="_blank">
          Apply as Sponsor
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 margin-top-half">
    <div class="card text-center padding-all border-around">
      <div class="card-body">
        <i class="fas fa-users icon"></i>
        <br/></br>
        <span class="title text">Volunteer for PyCon APAC 2019</span>
      </div>
      <div class="card-content">
        <p>
          Volunteer are the backbone of this conference. Even just a couple of
          hands can make all difference
        </p>
        <br/><br/>
      </div>
      <div class="card-footer">
        <a class="btn btn-success btn-block"
           href="https://goo.gl/forms/H0aszXRFbgqBGbx82"
           target="_blank">
          Apply as Volunteer
        </a>
      </div>
    </div>
  </div>
</div>
