<div id="application-section" class="row outline border-around-top-0">
  <div class="col-sm-4">
    <div class="card text-center padding-all border-around">
      <div class="card-body">
        <i class="fas fa-bullhorn icon"></i>
        <br/></br>
        <h2>Submit a talk proposal</h2>
      </div>
      <div class="card-content">
        Your words deserves to be heard. Submit your ideas to us and inspire
        designers and developers to their best.
        <br/><br/>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success">Submit proposal</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center padding-all border-around">
      <div class="card-body">
        <i class="far fa-handshake icon"></i>
        <br/></br>
        <h2>Sponsor PyCon APAC 2019</h2>
      </div>
      <div class="card-content">
        Sponsor are what make this conference possible. Support and help us
        make this PyCon the best one yet.
        <br/><br/>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success">Apply as Sponsor</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center padding-all border-around">
      <div class="card-body">
        <i class="fas fa-users icon"></i>
        <br/></br>
        <h2>Volunteer for PyCon APAC 2019</h2>
      </div>
      <div class="card-content">
        Volunteer are the backbone of this conference. Even just a couple of
        hands can make all difference
        <br/><br/>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success">Apply as Volunteer</button>
      </div>
    </div>
  </div>
</div>
