<div class="padding-all">
  <h2>
    Code of Conduct
  </h2>
  <div class="description">
    <p>
      PyCon PH is a community conference intended for collaboration in the developer community.
    </p>

    <p>
      We value the participation of each member of the Python community and want all attendees
      to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected
      to show respect and courtesy to other attendees throughout the conference and at all
      conference events, whether officially sponsored by Python.PH or not.
    </p>

    <p>
      To make clear what is expected, all delegates/attendees, speakers, exhibitors, organizers
      and volunteers at any PyCon event are required to conform to the following Code of
      Conduct. Organizers will enforce this code throughout the event.
    <p>
  </div>
</div>
