<div id="map-venue-section" class="row border-around-top-0">
  <div class="col-sm-6">
    <iframe class="hide-for-small-only"
            src="https://www.google.com/maps/embed/v1/place?q=iACADEMY+Nexus+(Yakal+Campus),+7434+Yakal,+Makati,+Metro+Manila,+Philippines&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
            width="800"
            height="800"
            frameborder="0"
            style="border:0">
    </iframe>
  </div>
  <div class="col-sm-1 space border-left-right"></div>
  <div class="col-sm-5 details padding-all">
    <h2>When is it?</h2>
    <p>February 23-24, 2019</p>
    <p>08:00am - 06:00pm</p>
    <p>*Doors open at 07:00am</p>
    <br/>
    <h2>Where is it?</h2>
    <p>iAcademy Nexus(Yakal Campus 7434 Yakal, Makati, 1203)</p>
    <br/>
    <button type="button" class="btn">Show me directions</button>
  </div>
</div>
