<div id="map-venue-section" class="row border-around-top-0 text-white">
  <div class="col-sm-6">
    <iframe id="map"
            class="hide-for-small-only"
            src="https://www.google.com/maps/embed/v1/place?q=iACADEMY+Nexus+(Yakal+Campus),+7434+Yakal,+Makati,+Metro+Manila,+Philippines&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
            frameborder="0"
            style="border:0">
    </iframe>
  </div>
  <div class="col-sm-1 space border-left-right"></div>
  <div class="col-sm-5 details padding-all">
    <span class="title text">
      When is it ?
    </span>
    <br/>
    <br/>
    <p>February 23-24, 2019</p>
    <p>08:00am - 06:00pm</p>
    <p>*Doors open at 07:00am</p>
    <br/>
    <span class="title text ">
      Where is it ?
    </span>
    <br/>
    <br/>
    <p>iAcademy Nexus(Yakal Campus 7434 Yakal, Makati, 1203)</p>
    <br/>
    <a href="https://www.google.com/maps/place/iACADEMY+Nexus+(Yakal+Campus)/@14.559717,121.008089,16z/data=!4m5!3m4!1s0x0:0x14f176eb6040790f!8m2!3d14.5597168!4d121.008089?hl=en-US"
       class="btn bg-yellow">
      Show me directions
    </a>
  </div>
</div>
