{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Call for Proposal
        </div>
        <div class="card-body">
          We are now accepting proposals of presentations for next year's PyCon PH! Here are a few
          tips* on submitting a proposal:

          <ul>
            <li>
              Submit early so we can give feedback or request for changes.
            </li>
            <li>
              Include details about the intended audience of your talk. e.g. devops engineers, data
              scientists, django users, etc.
            </li>
            <li>
              Avoid self-advertisements except for open source contributions.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.title.id_for_title }}">Title:</label>
          {% render_field form.title|add_class:"form-control" %}
        </div>
        <div class="form-group">
          <label for="{{ form.description.id_for_title }}">Description:</label>
          {% render_field form.description|add_class:"form-control" %}
        </div>
        <div class="form-group">
          <label for="{{ form.abstract.id_for_title }}">Abstract:</label>
          {% render_field form.abstract|add_class:"form-control" %}
        </div>
        <div class="form-group">
          <label for="{{ form.audience_level.id_for_title }}">Audience Level:</label>
          {% render_field form.audience_level|add_class:"form-control" %}
        </div>
        <div class="form-group">
          <label for="{{ form.presentation_type.id_for_title }}">Presentation Type:</label>
          {% render_field form.presentation_type|add_class:"form-control" %}
        </div>
        <div class="form-group">
          <label for="{{ form.duration.id_for_title }}">Duration:</label>
          {% render_field form.duration|add_class:"form-control" %}
        </div>
        <input type="submit" class="btn btn-primary mb-2 float-sm-right" value="Submit"/>
      </form>
    </div>
  </div>
{% endblock content %}
